<div class="container mx-auto text-center">
    <h2 class="text-success mt-3">Product Details</h2>
    <div class="form-group col-6 mx-auto mt-3">
        <form>
            <label>Name</label>
            <input class="form-control" type="text" name="updatedProduct['name']" [(ngModel)]="updatedProduct['name']" placeholder="{{ updatedProduct['name'] }}">
            <label>Quantity</label>
            <input class="form-control" type="number" name="updatedProduct['qty']" [(ngModel)]="updatedProduct['qty']" value="{{updatedProduct['qty']}}">
            <label>Price</label>
            <input class="form-control" type="number" name="updatedProduct['price']" [(ngModel)]="updatedProduct['price']" value="{{updatedProduct['price']}}">
            
            <hr>
            <button class="btn btn-primary" [routerLink]="[ '/' ]">Back</button>
            <button type="submit" class="btn btn-danger mx-2" (click)="deleteProduct(updatedProduct['_id'])">Delete</button>
        </form>
        <div *ngIf="wrongInput">
            <p class="text-danger mt-3">{{ wrongInput.name.message }}</p>
            <p class="text-danger mt-3">{{ wrongInput.qty.message }}</p>
            <p class="text-danger mt-3">{{ wrongInput.price.message }}</p>
        </div>
    </div>
</div>
