<div class="container mx-auto text-center">
    <h2 class="text-success mt-3">Add Your Product!</h2>
    <div class="form-group col-6 mx-auto mt-3">
        <form (submit)="createProduct()">
            <label>Name</label>
            <input class="form-control" type="text" name="newProduct.name" [(ngModel)]="newProduct.name">
            <label>Quantity</label>
            <input class="form-control" type="number" min="0" name="newProduct.qty" [(ngModel)]="newProduct.qty">
            <label>Price</label>
            <input class="form-control" type="number" min="0" name="newProduct.price" [(ngModel)]="newProduct.price">

            <button type="submit" class="btn btn-success mx-2">Create</button>
            
        </form>
        <button class="btn btn-danger" [routerLink]="[ '/' ]">Cancel</button>
        <div *ngIf="wrongInput">
            <p class="text-danger mt-3">{{ wrongInput.name.message }}</p>
            <p class="text-danger mt-3">{{ wrongInput.qty.message }}</p>
            <p class="text-danger mt-3">{{ wrongInput.price.message }}</p>
        </div>
    </div>
</div>
