<div class="container row mx-auto text-center">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let product of productList.reverse()">
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.qty }}</td>
                <td>${{ product.price.toFixed(2) }}</td>
                <td>
                    <button class="btn btn-primary" [routerLink]="['/products/edit', product.id]">Edit</button>
                    <button class="btn btn-danger" 
                    [routerLink]="[ '/products', product.id ]">
                    Details
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
